.about-container {
    width: 100%;
    background-color: #ffffff;
    padding: 50px 0px;
    display: flex;
    flex-direction: column;
    align-items: center;
    bottom: 0;
}

.about-content {
    display: flex;
    width: 80%;
    align-items: center;
    justify-content: space-between;
    margin-top: 30px;
}

.about-text {
    width: 60%;
    margin-top: -50px;
    margin-right: -10px;
    font-family: 'Bai Jamjuree';
    color: #143D06;
}

.about-text h2 {
    font-size: 35px;
    font-weight: bold;
}

.about-text h3 {
    font-size: 20px;
    margin-top: 20px;
    font-weight: 500;
}

.about-text p {
    font-size: 18px;
    margin-top: 15px;
    line-height: 1.6;
}

.about-image {
    width: 30%;
}

.about-image img {
    width: 100%;
    border-radius: 10px;
    object-fit: cover;
}
