.profile-container {
    padding: 20px;
    text-align: center;
}
  
.profile-title {
    font-size: 24px;
    margin-bottom: 20px;
}

.saved-blogs-section {
    flex-grow: 1; /* Allow section to expand and push buttons to the bottom */
  }
  
  .saved-blogs-list {
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
    justify-content: center;
  }
  
  .logout-btn, .editprofile-btn {
    position: fixed;
    bottom: 20px;
    left: 20px;
    padding: 10px 20px;
    font-size: 16px;
    background-color: #007BFF;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
  }
  
  .logout-btn {
    bottom: 70px; /* Position the logout button slightly above the edit profile button */
  }
  
  .floating-plus {
    position: fixed;
    bottom: 100px;
    right: 20px;
    font-size: 30px;
    background-color: #143D06;
    color: white;
    width: 50px;
    height: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
  }
  
  

.logout-btn {
    border: 2px solid red;
    background-color: white;
    color: black;
    padding: 10px 20px;
    cursor: pointer;
    font-size: 16px;
    margin-top: 20px;
}
  
.logout-btn:hover {
    background-color: red;
    color: white;
}

.profile-container .logout-btn + .editprofile-btn {
    margin-top: 15px;
}
  
  
.editprofile-btn {
    border: 2px solid rgb(0, 0, 0);
    background-color: white;
    color: black;
    padding: 10px 20px;
    cursor: pointer;
    font-size: 16px;
    margin-top: 20px;
}
  
.editprofile-btn:hover {
    background-color: black;
    color: white;
}