.editor-dashboard {
    position: relative;
    background-color: #ECF4E9;
    padding: 20px;
}
.editor-floating-plus {
    position: fixed; 
    right: 20px; 
    bottom: 50px;
    background-color: #143D06; 
    color: white; 
    padding: 15px; 
    font-size: 25px;
    cursor: pointer;
    transition: transform 0.3s ease;
}
  
.floating-plus:hover {
    transform: scale(1.1); 
}
  
 
.content {
    margin-top: 80px;
    text-align: center;
}
  
.content h1 {
    font-size: 24px;
    color: #143D06;
}
  
.content p {
    font-size: 18px;
    color: #555;
}
  