.login-page {
    color: white; 
    font-weight: 500;
    font-family: 'Bai Jamjuree';         
    cursor: pointer;         
}

.login-page:hover {
    font-weight: 700;
    text-decoration: underline; 
}


.navbar {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #fff; 
    padding: 2px;
    margin-top: 5px;
    width: 100%;
}
  
.logo img {
    height: 70px;
    margin-top: 5px;
    margin-right: 1000px;
}

.description {
    font-family: 'Bai Jamjuree', sans-serif;
    font-size: 20px;
    margin-top: -60px;
    margin-right: 500px;
    color: #143D06;
    font-weight: 500;
}
  

.nav-links {
    display: flex;
    width: 30%;
    gap: 40px;
    font-size: 15px;
    font-family: 'Bai Jamjuree';
    font-weight: 500;
    color: black;
    margin-top: -45px;
    margin-left: 620px;
    margin-right: -150px;
}


.nav-links span {
    position: relative;
    font-size: 18px;
    font-family: 'Bai Jamjuree', sans-serif;
    font-weight: 500;
    color: black;
    cursor: pointer;
    transition: color 0.3s;
}


.nav-links span::after {
    content: "";
    position: absolute;
    left: 0;
    bottom: -20px; 
    height: 3px;
    width: 100%; 
    background-color: #143D06; 
    transform: scaleX(0); 
    transition: transform;
}


.nav-links span:hover::after {
    transform: scaleX(1); 
}


.nav-links .active::after {
    transform: scaleX(1);
}

.search{
    height: 25px; 
    cursor: pointer; 
    margin-left: 1110px;
    margin-top: -25px;
    background: none;
    border:none;
    transition: transform 0.3s ease; 
}

.search:hover {
    transform: scale(1.2); 
}
    
.search img{
    height: 25px;
    width: auto;
    background: none;
    border: none;
}


@media (max-width: 768px) {
    
    .logo {
        display: flex;
        justify-content: center;
        width: 100%;
        margin-top: 10px;
    }

    .logo img {
        height: 60px;
        margin: 0; 
    }

    
    .nav-links {
        width: 100%;
        display: flex;
        justify-content: center;
        gap: 20px; 
        font-size: 14px; 
        margin: 10px 0; 
    }

  
    .description {
        font-size: 16px; 
        text-align: center;
        margin: 5px 0; 
    }

    
    .search {
        margin: 5px auto; 
        display: flex;
        justify-content: center;
    }
}

